@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==================== HTML Formating ==================== */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #262626;
}

body::after{
  content: "";
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s, z-index 0s 0.3s;
  position: fixed;
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  inset: 0;
  width: 100vw;
  height: 100vh;
}

body.modal-opened::after{
  z-index: 49;
  opacity: 1;
  transition: opacity 0.3s, z-index 0s; 
}

select,
option,
button,
input{
  outline: none;
  border: none;
}

/* ==================== Reusable Classes ==================== */

.container{
  padding: 33px 26px;
  @apply mt-24
}

.modal{
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s, z-index 0s 0.3s;
}

.modal.modal-opened{
  z-index: 50;
  opacity: 1;
  transition: opacity 0.3s, z-index 0s; 
}

.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}


.input-number::-webkit-inner-spin-button {
  background-image: url('/arrows.svg');
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: top center;
  width: 12px; 
  height: 17px;
  cursor: pointer;
}