@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==================== HTML Formating ==================== */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #262626;
}

button,
input{
  outline: none;
  border: none;
}

/* ==================== Reusable Classes ==================== */

.container{
  padding: 33px 26px;
}